<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>Think</string>
		<key>subtitle</key>
		<string>living Room</string>
		<key>imageName</key>
		<string>livingroom.jpg</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Eat</string>
		<key>subtitle</key>
		<string>kitchen</string>
		<key>imageName</key>
		<string>kitchen.jpg</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Sleep</string>
		<key>subtitle</key>
		<string>bedroom</string>
		<key>imageName</key>
		<string>bedroom.jpg</string>
	</dict>
</array>
</plist>
