<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>Living  Room</string>
		<key>subtitle</key>
		<string>Think: it is big room whith many items, and other)</string>
		<key>imageName</key>
		<string>livingroom.jpg</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Kitchen</string>
		<key>subtitle</key>
		<string>Eat: xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx</string>
		<key>imageName</key>
		<string>kitchen.jpg</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Bedroom: yyyyyyyyyyyyyyyyy</string>
		<key>subtitle</key>
		<string>Sleep </string>
		<key>imageName</key>
		<string>bedroom.jpg</string>
	</dict>
</array>
</plist>
